body {

    background-color: #33a1ff;

    color: #003366;

    font-family: "Poppins", sans-serif;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 700px;

    margin: 0;

}



button {

    background-color: #5bc0eb;

    color: #003366;

    font-family: "Poppins", sans-serif;

}



.passo {

    display: none;

}



.passo.ativo {

    display:block;

}



main {

    text-align: center;

    max-width: 90%;

}



img {

    max-width: 90%;

}